<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	Tweethub is a barebones Twitter-clone consisting of users who follow each other and make 'microposts'. It is built and maintained by Trevor Wilson and was inspired by the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> by Michael Hartl.
</p>
