<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  Contact Trevor Wilson via email at <a href="mailto:trevwilson16@gmail.com">trevwilson16@gmail.com</a> or via his website at <a href="www.trevjwilson.com">www.trevjwilson.com</a>.
</p>
